.btn-flat-shadow{
	border-bottom-width: 3px;
	border-bottom-color: darken($green, 10%);
	font-weight: 300;
	&:hover{
		border-bottom-color: darken($green, 20%);
	}
}

.btn-lg{
	font-size: 1rem;
}

.bt-light{
	border-top: solid 1px $gray-lighter;
}

.btn-inverse{
	background-color: $midnight-blue;
	color: $white;
}

.btn-square {
	border-radius: 0;
	line-height: 1.875rem;
	padding: 0.875rem;
	i{
		width: 1.875rem;
	}
}

.btn-circle {
	border-radius: 50%;
	line-height: 1.875rem;
	padding: 0.5rem;
	i{
		width: 1.875rem;
	}
}

button.close{
	transition: all 0.35s ease;
	display: block;
	border-top: solid 0.875rem lighten($midnight-blue, 10%);
    padding: 0.5rem 0.875rem;
    color: darken($white, 40%);
    background: #d1d1d1;
    font-weight: 100;
    font-size: 2rem;
    float: none;
    position: absolute;
    right: 48px;
    top: -15px;
    opacity: 1;
    text-shadow: none;
    z-index: 20;    
	&:focus, 
	&:hover {
		outline: 0;
	 	color: darken($white, 80%);
		opacity: 0.8;	
		border-top-color: $midnight-blue;
	}    
}