.bg-midnight-blue{
	background-color: $midnight-blue;
	color: $white;
}

.bg-white {
	background-color: $white;
}

.bg-green {
	background-color: $green;
	color: $white;
}

.bg-purple {
	background-color: $purple;
	color: $white;
}

.bg-pink {
	background-color: $pink;
	color: $white;
}

.bg-yellow {
	background-color: $yellow;
	color: $white;
}

.text-purple{
	color: $purple;
}

.text-pink{
	color: $pink;
}

.text-yellow{
	color: $yellow;
}

.text-green {
	color: $green;
}

.text-faded{
	color: #a7a7a7;
}