.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-toggler {
	color: $white;
}

.navbar-toggleable-sm .navbar-nav .nav-link {
	@media (min-width: 768px){
	    padding-right: .75rem;
	    padding-left: .75rem;
	}
}
.navbar-toggleable-sm .container{
	@media (max-width: 767px){
		position: initial;
		margin-left: 0;
		margin-right: 0;
	}
}