#showcase{
	position: relative;
}

.showcase{
	position: relative;

	&:before{
		content:'';
		width: 100%;
		height: 0.875rem;
		border-top: solid 1px rgba(0, 0, 0, 0.15);
		border-bottom: solid 3px #d1d1d1;
		position: absolute;
		top: -0.875rem;
	}
}

.project-detail-link{
	.goto-btn{
		transition: all .35s ease;
		opacity: 0;
		right: 0.625rem;
		bottom: 1.5rem;
	}
	&:hover{
		.goto-btn{
			opacity: 1;
		}		
	}
}

