.skills-list {
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
	}
}
.skills-percent-label{
	font-size: 1.5rem;
	width: 4.375rem;
	padding: 0.75rem 0;
	text-align: center;
	line-height: 1;
	margin-bottom: 0.3rem;
}

.mt-4-neg{
	margin-top: -1.5rem;
}