.font-size-lg {
	font-size: 1.5rem; 
}

.font-size-xl {
	font-size: 1.875rem; 
	line-height: 3rem;
}

.heading-sm{
	font-size: 1.125rem;
	line-height: 1.5rem;
}

.font-weight-md {
	font-weight: 300;
}

.font-weight-thin {
	font-weight: 100;
}

.section-header h2,
.contact-title{
	font-size: 1.125rem;
	line-height: 1.5rem;
	color: #6a6a6a;
	text-transform: uppercase;
	font-weight: 300;
}

.title-line{
    position: relative;
    overflow: hidden;
    
    span {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        position: relative;
        padding: 0 1.5rem;

        &:before, &:after {
            content: '';
            display: block;
            width: 1000px;
            position: absolute;
            top: 0.73em;
            border-top: 1px solid rgba(215, 215, 215, 1);
        }

        &.border-light{
	        &:before, &:after {
	            border-top-color: $gray-lighter;
	        }        	
        }

        &.border-rgba{
	        &:before, &:after {
	            border-top-color: rgba(255, 255, 255, 0.1);
	        }        	
        }
		
		&.border-inset{
			&:before, &:after {
				border-bottom: 1px solid rgba(255, 255, 255, 0.15);
			    border-top: solid 3px rgba(0, 0, 0, 0.15);
			}	
		}        

        &:before { right: 100%; }
        &:after { left: 100%; }
    }

    &.align-left{
    	span{
    		padding-left: 0;
    	}
    }
}

.border-rgba{
    border-top-color: rgba(255, 255, 255, 0.1);       	
}

.inset{
	text-shadow:-1px -1px 0px rgba(0, 0, 0, 0.3);
}

.icon-link {
	font-size: 1.875rem;
}

.list-inline-item:not(:last-child) {
    margin-right: 1rem;
}
